#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and ecosystem are summarized.

#### Objectives:
-  List popular languages for Data Science
-  List used libraries used by Data Scientists
-  List some open source Data Science tools

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. TensorFlow
5. Seaborn

Data Science Tools|
------------------
Jupiter Notebook|
Apache Spark|
Hadoop

In [3]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4) + 5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
Time_in_hours = 200/60
Time_in_hours

3.3333333333333335

## Author
Elsbell